<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help</title>
    <link rel='stylesheet' href='./css/styles.css'>
    
  </head>
  <body>
    <div class='main-content'><h1>{{>header}}</h1>
    <p>{{helptext}}</p></div>
    
    {{>footer}}
  </body>
</html>